body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #A64B2A;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #A64B2A;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #D7A86E;
}

span {
  text-decoration: underline;
}

a {
  color: #D7A86E;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: dotted none none;
  border-width: 10px;
  border-color: #EAF6F6;
  width: 5%;
  margin: 80px auto 80px auto;
}

p {
  line-height: 2;
}

.ava-img {
  height: 200px;
  width: 200px;
  margin-top: 80px;
}

.webdev-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.finance-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #FFEBC1;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.contact-me {
  margin-bottom: 100px;
  line-height: 2;
}

.bottom-container {
  background-color: #A64B2A;
  color: white;
  line-height: 2;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.btn {
	background-color:#a64b2a;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
  font-family: 'Montserrat', sans-serif;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #010500;
  margin-top: 30px;
}

.btn:hover {
	background-color:#d7a86e;
}

.btn:active {
	position:relative;
	top:1px;
}

.intro {
  width: 30%;
  margin: auto;
}

.credits {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}

.contact-message {
  width: 40%;
  margin: auto;
}
